@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
body {
    background-color: plum;
}

.inputBox {
    background-color: white;
    text-align: center;
    padding: 30px;
    width: 400px;
    font-family: 'Courgette';
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.mainDiv {
    background-color: white;
    width: 600px;
    height: 280px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Courgette';
}

h1 {
    font-size: 50px;
    position: relative;
    top: 35px;
}

#login,
#join {
    position: relative;
    top: 45px;
    font-size: 15px;
    margin-left: 10px;
}